*{
    margin: 0;
    padding: 0;
    list-style: none; 
}
body {
    background-color:rgba(15, 7, 7, 0.027);
}
h2, h6, p {
    color: #4f5d75ad;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
    color: white;
}
.navbar {
    background-color: #2D3142;
    padding-right: 80px;
}
.navbar-transparente {
    padding: 15px 0;
    background: rgba(10, 22, 46, 0.788);
}
.carousel-caption > p {
    color: white;
}
.quemsomos {
    color:#4f5d75ad;  
}
.margin-nav {
    padding-left: 20px;
}
.margin-logo {
    margin: 10px;
}
.margin {
    padding-top: 30px;
    padding-bottom: 50px;
}
.padding-titulos {
    padding: 15px 0;
}
.text-justify {
    text-align: justify;
}
.bg-footer {
    background-color: rgba(10, 22, 46, 0.788);
    color: white; 
}
.bg-footer > p {
    color: white;
}
